@import "../../../scss/common.styles.scss";

.privacyPolicyContainer {
    @extend .bodyContainer;
    height: calc(100vh - 50px);
    .contentContainer {
        padding: 30px;
        white-space: pre-line;
        h3 {
            margin: 0;
        }
    }
}