@import "../../scss/common.styles.scss";

.footerNavContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: $harvard-red;
    color: $main-1;
    .footerLinks {
        width: 10%;
        color: $main-1;
        padding: 0 20px;
        text-align: center;
    }
    .copyrightContainer {
        position: absolute;
        right: 5px;
        bottom: 5px;
        font-size: $font-size-small;
    }
}